* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", "Helvetica", sans-serif;
    line-height: 1.5;
    margin: 0 auto;
}


form {
    margin: 2rem;
}

.box {
    margin: 0 0 1rem 0;
}

fieldset {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: grey;
}

label {
    display: block;
}

legend{
    padding: 10px;
    border: solid 2px;
    background-color: #fff;
}

input[type="text"] {
    font-family: "Arial", "Helvetica", sans-serif;
    border: 1px solid #ddd;
    padding: 0.5rem;
    font-size: 1rem;
   width: 100%;
}


input[type="button"] {
    height: 2em;
    box-shadow: #000;
    font-size: 1.5em;
    color: #fff;
    border-radius: 10px;
    background-color: #6495ED;
   width: 100%;
}


/*mediaqueries*/
@media only screen and (min-width: 25rem) {

    input[type="button"]{
        width: auto;
        padding: 0 2rem;
    }
    
}


@media only screen and (min-width: 40rem) {
    body{
        max-width: 50rem;
    }
    .name,
    .mail {
        width: 45%;
        float: left;
    }
    
     .mail {
    	padding-left: 1em;
    	width: 55%;
    }
    

    input[type="button"]{
         width: auto;
    }
      .text{
        clear: both;
    }
}
